/* Define a cor de fundo do corpo da página */
body {
    background-color: rgb(224, 224, 224);
    margin: 0;
}

/* Define o estilo do timer */
#timer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.158);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.315);
    background-color: rgba(255, 255, 255, 0.692);
    padding: 10px;
}

/* Define o estilo do display */
#display {
    font-size: 70px;
    color: rgb(49, 49, 49);
    border-color: rgb(238, 233, 233);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Define o estilo dos botões */
button {
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    border: none;
    margin: 5px;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    transition: 0.1s;
}

/* Define o estilo do botão de start */
#start {
    background-color: rgb(15, 155, 15);
}

/* Define o estilo do botão de pause */
#pause {
    background-color: rgb(107, 107, 107);
}

/* Define o estilo do botão de reset */
#reset {
    background-color: rgb(172, 19, 19);
}

/* Define o estilo dos botões quando passam o mouse por cima */
#start:hover {
    background-color: rgb(17, 196, 17);
    transform: translateY(2px);
}

#pause:hover {
    background-color: rgb(165, 165, 165);
    transform: translateY(2px);
}

#reset:hover {
    background-color: rgb(255, 87, 87);
    transform: translateY(2px);
}

/* Define o estilo do timer quando a tela tem pelo menos largura de 769 pixels */
@media screen and (min-width: 769px) {
    #display {
        font-size: 130px;
    }
    
    button {
        width: 175px;
        height: 65px;
        font-size: 35px;
    }
}